
<footer class="page-footer font-small teal pt-4" th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase font-weight-bold" th:text="#{article_management}">Article Management System</h5>
                <p th:text="#{article_management_text}">
                    With Article Management System, You can process many things liking saving, showing, find artilce,
                    update article, delete with both In-memory database and Postgresql database.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase font-weight-bold" th:text="#{about_us}">About US</h5>
                <p th:text="#{footer}">
                    This Aricle Management System is written for Spirng Mini Project.
                </p>

            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/" > Chum Thea</a>
    </div>
</footer>
