<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color bg-dark" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <a class="navbar-brand" href="#" th:text="#{article_management}"> AMS-ARTICLE MANAGEMENT SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{feature}">
                    <i class="fas fa-user"></i> Article </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="/article/add" th:text="#{add_new_article}">Add New Article</a>
                    <a class="dropdown-item" href="/" th:text="#{view_article}">View Article List</a>
                    <a class="dropdown-item" href="#" th:text="#{update_article}">Update Article</a>
                    <a class="dropdown-item" href="#" th:text="#{delete_article}">Delete Article</a>
                    <a class="dropdown-item" href="#" th:text="#{search_article}">Search Article</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{category}">
                    <i class="fas fa-user"></i> Category </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="/cat/add" th:text="#{add_new_cat}">Add New Category</a>
                    <a class="dropdown-item" href="/cat/add" th:text="#{view_cat}">View Category List</a>
                    <a class="dropdown-item" href="/cat/add" th:text="#{update_cat}">Update Category</a>
                    <a class="dropdown-item" href="/cat/add" th:text="#{delete_cat}">Delete Category</a>
                    <a class="dropdown-item" href="/cat/add" th:text="#{search_cat}">Search Category</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{languages}">
                    <i class="fas fa-user"></i> LANGUAGES </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" th:href="@{?lan=kh}" >KHMER</a>
                    <a class="dropdown-item" th:href="@{?lan=en}">ENGLISH</a>
                    <a class="dropdown-item" th:href="@{?lan=kr}">KOREAN</a>
                    <a class="dropdown-item" th:href="@{?lan=ch}">CHINESE</a>
                    <a class="dropdown-item" th:href="@{?lan=ja}">JAPANESE</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->