<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Article</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">


</head>
<body>

    <div th:replace="fragments/header :: header">

    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-uppercase font-weight-bold" th:text="#{add_new_article}">
                    Add new Article
                </h4>
            </div>

            <div class="col-md-6 ml-auto">
                <a class="btn-lg btn-info"  href="/" th:text="#{back-home}">Back Home</a>
            </div>

        </div>

        <div class="row">

                <div class="col-md-12">
                    <form th:action="${isAdd} ? '/article/add' : '/article/update'"  method="post" enctype="multipart/form-data">
                        <div class="md-form md-bg">
                            <i class="far fa-id-badge prefix"></i>
                            <input type="text" id="id" th:field="${article.id}" class="form-control">
                            <label for="id">Book ID</label>
                        </div>
                        <div class="md-form md-bg">
                            <i class="fas fa-heading prefix"></i>
                            <input type="text" id="title" th:field="${article.title}" class="form-control">
                            <span th:if="${#fields.hasErrors('article.title')}" th:errors="${article.title}" style="color:red">This field is required</span>
                            <label for="title" th:text="#{title}">Book Title</label>
                        </div>
                        <div class="md-form md-bg">
                            <i class="fas fa-audio-description prefix"></i>
                            <input type="text" id="description" th:field="${article.description}" class="form-control">
                            <span th:if="${#fields.hasErrors('article.description')}" style="color:red">This field is required</span>
                            <label for="description" th:text="#{description}">Description</label>
                        </div>
                        <div class="md-form md-bg">
                            <i class="fas fa-user-graduate prefix"></i>
                            <input type="text" id="author" th:field="${article.author}" class="form-control">
                            <span th:if="${#fields.hasErrors('article.author')}" style="color:red">This field is required</span>
                            <label for="description" th:text="#{author}">Author</label>
                        </div>
                        <div class="md-form md-bg">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p th:text="#{category}">Category</p>
                                </div>
                                <div class="col-sm-6">
                                    <select class="browser-default custom-select" th:field="${article.cat_id}">
                                        <option th:each="category : ${categories}" th:value="${category.cat_id}" th:text="${category.cat_title}" ></option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <a href="/cat/add" class="btn btn-info btn-rounded btn-sm m-0" th:text="#{add_new_article}">ADD NEW Category</a>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01" th:text="#{upload}">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input name="file" type="file" class="custom-file-input" id="inputGroupFile01"
                                       aria-describedby="inputGroupFileAddon01" th:file="${article.thumbnail}">
                                <label class="custom-file-label" for="inputGroupFile01" th:text="#{choose_file}">Choose file</label>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-md mt-5" th:value="${isAdd ? 'Submit' : 'Update'}">
                    </form>
                </div>
    </div>
    </div>

    <div th:replace="fragments/footer :: footer">

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</body>
</html>