<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Article</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">


</head>
<body>

<div th:replace="fragments/header :: header">

</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h4 class="text-uppercase font-weight-bold" th:text="#{add_new_article}">
                Add new Article
            </h4>
        </div>

        <div class="col-md-6 ml-auto">
            <a class="btn-lg btn-info"  href="/" th:text="#{back-home}">Back Home</a>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6 my-5 ml-5 ">
            <div class="card card-cascade wider" th:object="${article}">

                <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img  class="card-img-top"  th:src="'/images/'+*{thumbnail}" alt="Article Image">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Title -->
                    <h4 class="card-title" th:text="*{title}"><strong>Alison Belmont</strong></h4>
                    <!-- Subtitle -->
                    <h5 class="blue-text pb-2" th:text="*{author}"><strong>Graffiti Artist</strong></h5>
                    <!-- Text -->
                    <p class="card-text" th:text="*{description}">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. </p>
                    <h5 class="blue-text pb-2" th:text="*{category.cat_title}"><strong>Graffiti Artist</strong></h5>

                </div>

            </div>
            <!-- Card Wider -->
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</body>
</html>