<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Detail</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header">

    </div>

    <div class="container">
        <div class="row my-5">
            <div class="col-md-4">
                <h3 class="text-uppercase font-weight-bold" th:text="|Category : ${cat.cat_title}|"> Category </h3>
            </div>
            <div class="col-md-4 ml-auto">
                <a class="btn-lg btn-info"  href="/cat/add" th:text="#{back-home}">Back Home</a>
            </div>
        </div>

        <table class="table my-5">
            <thead class="black white-text">
            <tr>
                <th scope="col" th:text="#{id}">#</th>
                <th scope="col" th:text="#{thumbnail}">THUMBNAIL</th>
                <th scope="col" th:text="#{title}">TITLE</th>
                <th scope="col" th:text="#{description}">DESCRIPTION</th>
                <th scope="col" th:text="#{author}">AUTHOR</th>
                <th scope="col" th:text="#{category}">CATEGORY</th>
                <th scope="col" th:text="#{action}">ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}" th:object="${article}">
                <th scope="col" th:text="*{id}">#</th>
                <th scope="col">
                    <img th:src="'/images/'+*{thumbnail}" style="width:80px; height:60px">
                </th>
                <th scope="col" th:text="*{title}">TITLE</th>
                <th scope="col" th:text="*{description}">DESCRIPTION</th>
                <th scope="col" th:th:text="*{author}">AUTHOR</th>
                <th scope="col" th:text="*{category.cat_title}">CATEGORY</th>
                <th scope="col">
                    <a class="btn-floating btn-sm btn-info"  th:href="@{/article/view/{id}(id=*{id})}" th:text="#{view}">VIEW</a>
                    <a class="btn-floating btn-sm btn-success" th:href="@{/article/update/{id}(id=*{id})}" th:text="#{update}">Update</a>
                    <a class="btn-floating btn-sm btn-danger"  th:href="@{/article/delete/{id}(id=*{id})}" th:text="#{delete}">DELETE</a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer">

    </div>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</html>