<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
</head>
<body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container">
        <div class="row my-5">
            <div class="col-md-4">
                <h3 class="text-uppercase font-weight-bold">Category</h3>
            </div>
            <div class="col-md-4 ml-auto">
                <a class="btn-lg btn-info"  href="/" th:text="#{back-home}">Back Home</a>
            </div>
        </div>

        <form th:action="${isAdd? '/cat/add' : '/cat/update'}"  method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" id="id" th:field="${cat.cat_id}" class="form-control ">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-md-2">
                    <p class="text-uppercase font-weight-bold">Category Title: </p>
                </div>
                <div class="col-md-6">
                    <input type="text" id="name" th:field="${cat.cat_title}" class="form-control ">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-primary btn-md mt-0" th:value="${isAdd ? 'Submit' : 'Update'}">
                </div>
            </div>

        </form>


        <div class="row my-5">
            <div class="col-md-6 text-align-center">
                <h3 class="text-uppercase font-weight-bold">List All Categories</h3>
            </div>

        </div>

        <table class="table my-5">
            <thead class="black white-text">
            <tr>
                <th scope="col" th:text="#{id}">#</th>
                <th scope="col" th:text="#{title}">TITLE</th>
                <th scope="col" th:text="#{action}">ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat : ${categories}" th:object="${cat}">
                <th scope="col" th:text="*{cat_id}">#</th>
                <th scope="col" th:th:text="*{cat_title}">Title</th>
                <th scope="col">
                    <a class="btn-floating btn-sm btn-info"  th:href="@{/cat/view/{id}(id=*{cat_id})}" th:text="#{view}">VIEW</a>
                    <a class="btn-floating btn-sm btn-success" th:href="@{/cat/update/{id}(id=*{cat_id})}" th:text="#{update}">Update</a>
                    <a class="btn-floating btn-sm btn-danger"  th:href="@{/cat/delete/{id}(id=*{cat_id})}" th:text="#{delete}">DELETE</a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</html>