<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" pageEncoding="UTF-8" >
    <title>AMS-Search Page</title>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">

</head>
<body>
<div th:replace="fragments/header :: header">

</div>

<div class="container">
    <div class="row my-5">
        <div class="row-md-3">
            <h5 class="text-uppercase font-weight-bold" th:text="#{view_article}">List All Article</h5>
        </div>

        <div class="col-md-6 justify-content-center">
            <form class="form-inline mr-auto" th:action="@{/article/search}" method="get">
                <select class="browser-default custom-select mr-2" name="cat_id">
                    <option th:each="cat : ${categories}" th:object="${cat}" th:value="*{cat_id}" th:text="*{cat_title}"  name="cat_id" selected>Select all</option>
                </select>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="title">
                <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
            </form>
        </div>

        <div class="col-md-3 ml-auto">
            <a class="btn-lg btn-info"  href="/article/add" th:text="#{add_new_article}">Add New Article</a>
        </div>
    </div>
    <table class="table my-5">
        <thead class="black white-text">
        <tr>
            <th scope="col" th:text="#{id}">#</th>
            <th scope="col" th:text="#{thumbnail}">THUMBNAIL</th>
            <th scope="col" th:text="#{title}">TITLE</th>
            <th scope="col" th:text="#{description}">DESCRIPTION</th>
            <th scope="col" th:text="#{author}">AUTHOR</th>
            <th scope="col" th:text="#{category}">CATEGORY</th>
            <th scope="col" th:text="#{action}">ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}" th:object="${article}">
            <th scope="col" th:text="*{id}">#</th>
            <th scope="col">
                <img th:src="'/images/'+*{thumbnail}" style="width:80px; height:60px">
            </th>
            <th scope="col" th:text="*{title}">TITLE</th>
            <th scope="col" th:text="*{description}">DESCRIPTION</th>
            <th scope="col" th:th:text="*{author}">AUTHOR</th>
            <th scope="col" th:text="*{category.cat_title}">CATEGORY</th>
            <th scope="col">
                <a class="btn-floating btn-sm btn-info"  th:href="@{/article/view/{id}(id=*{id})}" th:text="#{view}">VIEW</a>
                <a class="btn-floating btn-sm btn-success" th:href="@{/article/update/{id}(id=*{id})}" th:text="#{update}">Update</a>
                <a class="btn-floating btn-sm btn-danger"  th:href="@{/article/delete/{id}(id=*{id})}" th:text="#{delete}">DELETE</a>
            </th>
        </tr>
        </tbody>
    </table>

    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-circle pg-blue">
                <li class="page-item"><a class="page-link" th:href="@{/spage/(page=${1})}">First</a></li>
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item" th:each="p : ${#numbers.sequence(1, totalPage)}" th:class="${currentPage} == ${p} ? 'active page-item' : 'page-item'"><a class="page-link"  th:href="@{/spage/(page=${p})}" th:text="${p}">2</a></li>

                <li class="page-item">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/spage/(page=${totalPage})}">Last</a></li>
            </ul>
        </nav>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
</html>

